/*All element*/
*{
	margin: 0;
	padding: 0;
}

/*background image*/
header{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

img{position: absolute;}
/*all of the options*/
/*the word buttons */
.navigate ul{
	font-size: large;
	font-weight: bold;
	list-style-type: none;
	float: right;
	margin-top: 30px;
	margin-right: 15px;
}

/*the composing of options*/
.navigate li{
	display: inline-block;
}

/*border and color of option*/
.navigate a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 2.5px solid transparent;
	border-radius: 2px;
	transition: 0.6s ease;
}

/*the changing the word after moving on it*/
.navigate a:hover{
	color: black;
	background-color: white;
}

/*The picture buttons*/
.pic-but img{
	width: 180px;
	border: 4px solid white;
	border-bottom: 60px solid white;
	border-radius: 2px;
}

/*setting of button*/
.pic-but a{
	position: absolute;
	top: 175px;
	filter: brightness(1);
	transition: 0.5s
}
.pic-but a:hover{
	filter: brightness(0.1);
}

.pic-but ul{
	list-style-type: none;
}

.pic-but li{
	display: inline-block;
	position: absolute;
	top: 447px;
	font-size: large;
	font-weight: bold;
}

.icon img{
	position: absolute;
	width: 80px;
	top: 270px;
	left: 10px;
	border: none;
	pointer-events: none;
	opacity: 0;
	transition: 0.5s;
}

a:hover ~ .icon img{
	opacity: 1;
}
.logo:active img{
	transform: rotate(360deg)
}

.icon .intro img{left: 17%;}
.icon .friend img{left: 31%;width: 110px;}
.icon .game img{left: 46.2%;width: 100px;}
.icon .anime img{left: 62%;}
.icon .refrence img{left: 77%;}

.intro{left: 13%;}
.friend{left: 28%;}
.game{left: 43%;}
.anime{left: 58%;}
.refrence{left: 73%;}

ul .intro{left: 18.1%;}
ul .friend{left: 32.5%;}
ul .game{left: 47.5%;}
ul .anime{left: 62.5%;}
ul .refrence{left: 76.5%;}


.logo img{
	float: left;
	width: 70px;
	margin: 30px;
	transition: 0.4s; 
}

.logo:hover img{
	width: 80px;
}

.logo p{
	font-size: 90%;
	border: none;
	background-color: white;
	border-radius: 4px;
	position: absolute;
	top: 100px;
	left: 100px;
	padding: 3px 5px;
	opacity: 0;
	transition: 0.8s 
}

.logo:hover p{
	opacity: 1;
}


#active {
	color: black;
	background-color: white;
}

#name{
	font-size: 30px;
	color: white;
	position: absolute;
	top: 50px;
	left: 180px;
	transform: translate(-50%, -50%)
}

#class-name{
	font-size: 20px;
	color: white;
	position: absolute;
	top: 80px;
	left: 150px;
	transform: translate(-50%, -50%)
}

/*Validation*/
.valid{
	position: absolute;
	bottom: 40px;
	right: 50px;
	filter: brightness(1);
}

#html{
	right: 110px;
}
#css{
	right: 10px;
}
#html:hover{
	filter: brightness(0.7);
}
#css:hover{
	filter: brightness(0.7);
}