/*Format the webpage here*/
/*Format paragraph*/
p
{
		color: blue;
}

/*format heading 1*/
h1
{
		text-align: center;
}

/*Format heading 2*/
h2
{
	text-transform: uppercase;
}
/*format heading 2 using class selector .center*/
.center
{
	text-align: center;
	color: red;
}

/*format heading 2 using id selector change*/
#change
{

	background-color: lightgray;
	text-shadow: 2px 2px 5px red;
}